---
import Base from "../../layouts/Base.astro";
import { site } from "../../data/site";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes
    .filter((entry) => entry.slug !== "index")
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const dateFormatter = new Intl.DateTimeFormat("en-IE", { dateStyle: "long" });
---

<Base
  title={entry.data.title}
  siteTitle={site.title}
  lang={site.language}
  footerText={site.footerText}
  socialLinks={site.hcard.social}
>
  <div class="main-container prose">
    <h1>{entry.data.title}</h1>
    {
      entry.data.date ? (
        <time datetime={entry.data.date.toISOString()}>
          {dateFormatter.format(entry.data.date)}
        </time>
      ) : null
    }
    <Content />
    {
      entry.data.tags?.length ? (
        <div>
          <div>Tags:</div>
          <ul>
            {entry.data.tags.map((tag) => (
              <li>
                <a href={`/tags/${tag}/`}>{tag}</a>
              </li>
            ))}
          </ul>
        </div>
      ) : null
    }
  </div>
</Base>
