---
import Base from "../../layouts/Base.astro";
import { site } from "../../data/site";
import ContactContent from "../../content/pages/contact.md";
import HCard from "../../components/HCard.astro";
import ContactLinks from "../../components/ContactLinks.astro";

const pageTitle = ContactContent.frontmatter?.title ?? "Contact";
---

<Base
  title={pageTitle}
  siteTitle={site.title}
  lang={site.language}
  footerText={site.footerText}
  socialLinks={site.hcard.social}
>
  <div class="main-container">
    <ContactContent />
    <HCard
      siteTitle={site.title}
      baseUrl={site.baseUrl}
      avatar={site.hcard.avatar}
      fullName={site.hcard.fullName}
      pronouns={site.hcard.pronouns}
      nickname={site.hcard.nickname}
      showLocation={site.hcard.showLocation}
      city={site.hcard.city}
      region={site.hcard.region}
      country={site.hcard.country}
      biography={site.hcard.biography}
    />
    <ContactLinks links={site.hcard.contact} />
  </div>
</Base>
